.grid {
  margin: 0 auto;
  padding-top: 25px;
}

.grid-item {
  float: left;
  width: 300px;
  margin-bottom: 25px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.grid-item-featured {
  width: 625px;
}

.grid-image {
  max-width: 100%;
  position: relative;
}
.grid-text {
  padding: 10px;
}
.grid-title {
  font-size: 12px;
  font-weight: bold;
}
.grid-description {
  font-size: 12px;
}

.grid-cat-Art {
  border-top-style: solid;
  border-top-color: #7aadc4;
  border-top-width: 8px;
}
.grid-cat-Education {
  border-top-style: solid;
  border-top-color: #df6340;
  border-top-width: 8px;
}
.grid-cat-Conservation {
  border-top-style: solid;
  border-top-color: #9cbd86;
  border-top-width: 8px;
}
