.grid {
  margin: 10px;
}

.grid-item {
  float: left;
  width: 400px;
  margin-bottom: 10px;
  -webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}
.grid-image {
  max-width: 100%;
  position: relative;
}
.grid-text {
  padding: 10px;
}
.grid-title {
  font-size: 12px;
  font-weight: bold;
}
.grid-description {
  font-size: 8px;
}
