.grid {
  margin: 0 auto;
  padding-top: 25px;
}

.grid-item {
  float: left;
  width: 300px;
  margin-bottom: 25px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  background-color: rgba(255, 255, 255, 0.9);
}
.grid-image {
  max-width: 100%;
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.grid-text {
  padding: 10px;
}
.grid-title {
  font-size: 12px;
  font-weight: bold;
}
.grid-description {
  font-size: 10px;
}
