.key {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 9;
}

.key .btn, .help-button .btn {
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}

.btn-art {
  color: #7aadc4;
}
.btn-education {
  color: #df6340;
}
.btn-conservation {
  color: #9cbd86;
}

.help-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 9;
}
