.modal-content {
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
  box-shadow: 0 5px 15px rgba(0, 0, 0, .2)
  border: none;
  border: 0px solid rgba(0, 0, 0, 0);
}

.modal-lg {
 width: 1580px;
}

.modal-backdrop {
  background-color: white;
}
.modal-backdrop.in {
  background-color: white;
  opacity: 0.5;
}

.modal-header {
  border: none;
}

.modal-body {
  padding: 0;
}
.modal-body iframe {
  width: 100% !important;
  height: 860px !important;
}

.modal-footer {
  border: none;
}
/* Make bigger close buttons */
