/* Welcome Block*/
.welcome-block {
  text-align: center;
  height: calc(100% - 120px);
}
.welcome-block a {
  border-radius: 100px;
  padding: 10px 40px;
}
.welcome-block p {
  position: absolute;
  bottom: 150px;
  width: 100%;
  color: white;
  font-size: 24px;
}
.welcome-block-top {
  max-width: 900px;
  margin: 10px auto;
  background-color: #eee;
  border-radius: 300px;
  padding: 1px 10px 20px 10px;
}
.btn-grounds-map {
  border-radius: 100px;
}
@-webkit-keyframes arrow-jump {
  0%   { opacity: 1;}
  50% { opacity: 1;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -0-transform: translateY(10px);
    transform: translateY(10px);
    }
    100% { opacity: 1;
      -webkit-transform: translateY(0px);
      -moz-transform: translateY(0px);
      -0-transform: translateY(0px);
      transform: translateY(0px);
    }
}
i.rtpi-down-arrow {
  font-size: 40px;
  -webkit-animation: arrow-jump 1s infinite;
  -moz-animation:    arrow-jump 1s infinite
  -o-animation:      arrow-jump 1s infinite;
  animation:         arrow-jump 1s infinite;
}
